:root {
  --filesTabHeight: 40px;
  --titleBarHeight: 40px;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #1e1f1c;
  color: #F8F8F2;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
  font-size: 16px;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 3px;
}

::-webkit-scrollbar-track {
  background: none; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

.fileTab, .selectedFileTab {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  min-width: 100px;
  height: 100% - 21px;
  background-color: #34352f;
  border-right: 1px solid #272822;
  border-bottom: 1px solid #272822;
  user-select: none;
  -ms-user-select: none;
}

.filesTab {
  position: relative;
  display: flex;
  flex-direction: row;
  height: var(--filesTabHeight);
  overflow-x: auto;
}

.closeFileTab {
  visibility: hidden;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
}

.changedFile::after {
  position: absolute;
  top: 1px;
  left: 2px;
  content: 'â—';
  visibility: visible;
}

.fileTab:hover > .closeFileTab:not(.changedFile), .selectedFileTab > .closeFileTab:not(.changedFile), .closeFileTab:hover {
  visibility: visible;
}

.closeFileTab:hover.changedFile::after {
  visibility: hidden;
}

.selectedFileTab {
  background-color: #272822;
}

.link {
  color: #3794ff;
  cursor: pointer;
}

.mainPanel {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  z-index: -1;
}

.mainPanel > * {
  width: 400px;
}

.mainPanel > h1 {
  font-size: 60px;
  margin: 0;
}

.key {
  background-color: #2b2b2b;
  border-radius: 5px;
  padding: 2px 5px;
}

#version {
  font-size: 15px;
  opacity:  0.3;
}

.noSelection {
  user-select: none;
}

#selectLanguageMessage {
  user-select: none;
  position: absolute;
  display:inline-block;
  z-index: 1000;
  left: 50px;
  top: 0;
  font-style: italic;
  cursor: default;
}

#rightPanel {
  position: relative;
  height: calc(100% - var(--filesTabHeight));
}

#allPanels {
  height: calc(100% - var(--titleBarHeight)) !important;
}

.leftPanelTabElement:hover {
  background-color: #3e3d32;
}

.leftPanelTab {
  background-color: #1e1f1c;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.leftPanelTabTitle {
  background-color: #2b2b2b;
  padding: 3px 10px;
  position: sticky;
  top: 0;
}

#titleVersion {
  font-size: medium;
  opacity: 0.3;
}

.modal {
  user-select: none;
  position: fixed;
  top: 5px;
  left: calc(50% - 200px);
  width: 400px;
  height: auto;
  background-color: #1e1f1c;
  z-index: 1001;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.7);
}

.modal > input {
  background-color: #414339;
  box-sizing: border-box;
  outline: none;
  width: 395px;
  border-radius: 2px;
  padding: 8px 8px;
  margin: 8px 0;
  border: 1px solid #99947c;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
  font-size: 16px;
  color: #F8F8F2;
}

.modal > input::placeholder {
  color: #80827c;
}

.languageExtension {
  opacity: 0.3;
}

.languagesList {
  height: 250px;
  overflow-y: scroll;
}

.modalOption, .modalSelectedOption {
  padding: 5px;
}

.modalOption:hover {
  background-color: #3e3d32;
}

.modalSelectedOption {
  background-color: #414339;
  border-radius: 4px;
}

#titleBar {
  user-select: none;
  background-color: #1e1f1c;
  height: var(--titleBarHeight);
  -webkit-app-region: drag;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

#titleBar > * {
  -webkit-app-region: no-drag;
  z-index: 10000;
}

#windowControls, #menuBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#menuBar {
  padding: 20px;
  gap: 20px;
}

#windowControls > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: 0.1s;
}

#windowControls > div:hover {
  background-color: #414339;
}

#windowControls > div:nth-child(3):hover {
  background-color: #d42222;
}