body{
  margin: 0;
  background-color: gray;
}
.file{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border-left:  solid black;
  border-right:  solid black;
  border-bottom: solid black;
  user-select: none;
  -ms-user-select: none;
}
.filestab{
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 50px;
}
.close{
  font-size: xx-small;
  border: 0;
  background-color:unset;
  width: 15px;
  height: 15px;
}
.selected{
  background-color: gray;
  border-bottom: 0;

}